header {
    width: 100%;
    height: 80px;
    margin: auto;
    height: auto;
    padding: 20px 0px;
}

header .headerSearch {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(177, 189, 216);
    border-radius: 3px;
    padding: 10px 20px;
    /* background: #2874f0; */
}

header .headerSearch .selectDrop {
    width: 33%;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    /* padding-right: 30px; */
}

header .headerSearch .selectDrop:after {
    content: '';
    width: 1px;
    height: 25px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 8px;
    right: 0px;
}

header .headerSearch .search {
    width: 67%;
    margin-left: 10px;
    position: relative;
}

header .headerSearch .search input {
    width: 90%;
    border: 0px;
    outline: none !important;
    font-size: 16px;
}

header .headerSearch .search .searchIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.7;
    font-size: 26px;
}

header .CCList .selectDrop {
    width: 200px !important;
    border: 1px solid #d0d3d7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .CCList .selectDrop .dropDown {
    left: 0px !important;
}

header .CCList .selectDrop .openselect {
    padding-right: 20px !important;
}

header .listIC {
    margin: auto
}

header .more {
    position: relative;
    font-size: large;
    right: -4px;
    top: 4px;
    cursor: pointer;
}

header .cart {
    position: relative;
    font-size: large;
    right: -7px;
    top: 4px;
    cursor: pointer;
}

.iconManageAcc {
    font-size: 25px;
    cursor: pointer;
}

.iconStore {
    font-size: 25px;
    cursor: pointer;
}

.menu {
    display: none;
}

.moreParent {
    position: relative;
}

.moreParent:hover {
    text-decoration: underline;
    /* color: #1976d2; */
    color: #2874f0;
}

.moreParent:hover .menu {
    display: block;
    /* Show the menu on hover */
    text-wrap: nowrap;
    padding: 0;
    margin: 0;
    background: #fff;
    position: absolute;
    top: 105%;
    /* Opens dropdown below parent */
    z-index: 100;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 11px;
    width: max-content;
    /* Ensure the dropdown fits its content */
}


.menu li {
    width: 100%;
    list-style: none;
}

.menu li button {
    width: 100% !important;
    justify-content: start;
    font-size: small;
    text-transform: none;
    padding: 6px 14px;
    color: #2874f0 !important;
}

.menu li button .icon {
    font-size: 16px;
    margin-right: 5px;
}

.p-relative {
    position: relative !important;
}

.p-absolute {
    position: absolute !important;
}