@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0px 45px;
}

.cursor_pointer {
  cursor: pointer;
}

.txt-wrap {
  text-wrap: nowrap;
}

.arrow {
  border: solid 0.5px #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 3px !important;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 2px !important;
}

.containerBody {
  margin: 20px 20px;
  position: relative;
  border: 1px solid rgb(199, 202, 202);
  border-radius: 3px;
  padding: 20px;
  background:#f3f3f3;
}